<!DOCTYPE html>
<html lang="en-fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>The Lions Of ESI || {% block title %} Acceuil {% endblock %}</title>

    <!-- Css Files -->
    <link href="{{ asset("css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ asset("css/font-awesome.css") }}" rel="stylesheet">
    <link href="{{ asset("css/flaticon.css") }}" rel="stylesheet">
    <link href="{{ asset("css/slick-slider.css") }}" rel="stylesheet">
    <link href="{{ asset("css/fancybox.css") }}" rel="stylesheet">
    <link href="{{ asset("style.css") }}" rel="stylesheet">
    <link href="{{ asset("css/color.css") }}" rel="stylesheet">
    <link href="{{ asset("css/responsive.css") }}" rel="stylesheet">
    <!--/!--[if lte IE 9]-->
    {# <link rel="stylesheet" href="../../css/chosen.html"> #}
    <!--[endif]--//-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js") }}"></script>
    <script src="{{ asset("https://oss.maxcdn.com/respond/1.4.2/respond.min.js") }}"></script>
    <![endif]-->
</head>

<body>

<!--// Main Wrapper \\-->
<div class="sportsmagazine-main-wrapper">

    <!--// Header \\-->
    <header id="sportsmagazine-header" class="sportsmagazine-header-one">

        <!--// TopStrip \\-->
        <div class="sportsmagazine-topstrip">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4">
                        <ul class="sportsmagazine-social-network">
                            <li><a href="#"
                                   class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
                            <li><a href="#"
                                   class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
                            <li><a href="#"
                                   class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
                            <li><a href="#"
                                   class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-8">
                        <ul class="sportsmagazine-user-section">
                            {# <li><i class="fa fa-globe"></i> <a href="404.html">Support</a></li> #}
                            {# <li><i class="fa fa-dollar"></i> <a href="404.html">Currency : USD</a></li> #}
                            {# <li><i class="fa fa-shopping-cart"></i> <a href="#" #}
                            {# class="sportsmagazine-open-cart">Panier (0)</a> #}
                            {# <div class="sportsmagazine-cart-box"> #}
                            {# <h2>Vous avez 2 produits dans votre panier</h2> #}
                            {# <ul> #}
                            {# <li> #}
                            {# <figure> #}
                            {# <a href="checkout.html"><img src="{{ asset("extra-images/cartbox-1.png") }}" #}
                            {# alt=""></a> #}
                            {# </figure> #}
                            {# <div class="sportsmagazine-cartbox-text"> #}
                            {# <h6><a href="checkout.html">Key Management Model The 60+ Models</a> #}
                            {# </h6> #}
                            {# <div class="sportsmagazine-rating"><span #}
                            {# class="sportsmagazine-rating-box" style="width:80%"></span> #}
                            {# </div> #}
                            {# <span #}
                            {# class="sportsmagazine-cartbox-price sportsmagazine-color">15.000 Fcfa #}
                            {# <small>$43.00</small></span> #}
                            {# </div> #}
                            {# </li> #}
                            {# <li> #}
                            {# <figure> #}
                            {# <a href="checkout.html"><img src="{{ asset("extra-images/cartbox-2.png") }}" #}
                            {# alt=""></a> #}
                            {# </figure> #}
                            {# <div class="sportsmagazine-cartbox-text"> #}
                            {# <h6><a href="checkout.html">Pyramid Principle: Logic Writing &amp; #}
                            {# Thinking</a></h6> #}
                            {# <div class="sportsmagazine-rating"><span #}
                            {# class="sportsmagazine-rating-box" style="width:100%"></span> #}
                            {# </div> #}
                            {# <span #}
                            {# class="sportsmagazine-cartbox-price sportsmagazine-color">30.000 Fcfa</span> #}
                            {# </div> #}
                            {# </li> #}
                            {# </ul> #}
                            {# <h5>Sommes Totales <span class="sportsmagazine-color">45.000 Fcfa</span></h5> #}
                            {# <div class="sportsmagazine-cart-link"><a href="checkout.html" #}
                            {# class="sportsmagazine-cartbox-btn sportsmagazine-bgcolorhover"><i #}
                            {# class="flaticon-tool"></i> Go to Checkout</a></div> #}
                            {# </div> #}
                            {# </li> #}
                            <li><i class="fa fa-user"></i> <a href="{{ path('security.login') }}">Connexion</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <!--// TopStrip \\-->

        <!--// MainSection \\-->
        <div class="sportsmagazine-main-header">
            <div class="container">
                <div class="row">
                    <aside class="col-md-2"><a href="{{ path('index') }}" class="sportsmagazine-logo"><img
                                    src="{{ asset("images/logo-4.png") }}" alt=""></a></aside>
                    <div class="col-md-10">
                        <div class="sportsmagazine-right-section">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                            data-target="#navbar-collapse-1" aria-expanded="true">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="{% if active == 'index' %} active {% endif %}"><a
                                                    href="{{ path('index') }}">Acceuil</a></li>

                                        {# <li class="sportsmagazine-megamenu-li"><a href="#">Pages</a> #}
                                        {# <ul class="sportsmagazine-megamenu"> #}
                                        {# <li class="row"> #}
                                        {# <div class="col-md-2"> #}
                                        {# <h4>Team</h4> #}
                                        {# <ul class="sportsmagazine-megalist"> #}
                                        {# <li><a href="404.html">BasketBall</a></li> #}
                                        {# <li><a href="404.html">Football</a></li> #}
                                        {# <li><a href="404.html">handball</a></li> #}
                                        {# <li><a href="404.html">VolleyBall</a></li> #}
                                        {# <li><a href="404.html">Tennis</a></li> #}
                                        {# <li><a href="404.html">Natation</a></li> #}
                                        {# <li><a href="404.html">Atheltisme</a></li> #}
                                        {# </ul> #}
                                        {# </div> #}
                                        {# <div class="col-md-2"> #}
                                        {# <h4>Planning</h4> #}
                                        {# <ul class="sportsmagazine-megalist"> #}
                                        {# <li><a href="fixtures-dark2.html">Calendrier des matchs</a></li> #}
                                        {# <li><a href="404.html">Inter-ecole</a></li> #}
                                        {# <li><a href="404.html">Classement Team</a></li> #}
                                        {# <li><a href="404.html">Training</a></li> #}
                                        {# <li><a href="404.html">Stat des matchs</a></li> #}
                                        {# </ul> #}
                                        {# </div> #}
                                        {# <div class="col-md-2"> #}
                                        {# <h4>Gestionnaire</h4> #}
                                        {# <ul class="sportsmagazine-megalist"> #}
                                        {# <li><a href="gallery-modren-wrs.html">Gallerie</a></li> #}
                                        {# <li><a href="404.html">Evenements</a></li> #}
                                        {# <li><a href="search-result.html">Rechercher un truc??</a></li> #}
                                        {# </ul> #}
                                        {# </div> #}
                                        {# <div class="col-md-6"> #}
                                        {# <a href="#" class="sportsmagazine-thumbnail"> #}
                                        {# <img src="{{ asset("extra-images/megamenu-frame.jpg") }}" alt="" /> #}
                                        {# </a> #}
                                        {# </div> #}
                                        {# </li> #}
                                        {# </ul> #}
                                        {# </li> #}
                                        <li class="{% if active=="clubs" %}active{% endif %}"><a href="#">NOS CLUBS</a>
                                            <ul class="sportsmagazine-dropdown-menu">
                                                <li><a href="#">Presentation</a>
                                                    <ul class="sportsmagazine-dropdown-menu">
                                                        <li><a href="#">Basketball</a></li>
                                                        <li><a href="#">Football</a></li>
                                                        <li><a href="#">Handball</a></li>
                                                        <li><a href="#">Volleyball</a></li>
                                                        <li><a href="#">Natation</a></li>
                                                        <li><a href="#">Tennis</a></li>
                                                        <li><a href="#">Athletisme</a></li>
                                                    </ul>
                                                </li>
                                                {# <li><a href="player-grid-wls.html">Nos Roockies</a></li> #}
                                            </ul>
                                        </li>
                                        <li class="{% if active=="blog" %}active{% endif %}"><a
                                                    href="{{ path('blog.index') }}">Magazine</a></li>
                                        {# <li><a href="shop-grid-wls.html">Boutique</a> #}
                                        {# <ul class="sportsmagazine-dropdown-menu"> #}
                                        {# <li><a href="shopping-cart.html">Panier</a></li> #}
                                        {# <li><a href="wishlist.html">Liste de souhaits</a></li> #}
                                        {# <li><a href="account.html">Compte</a></li> #}
                                        {# <li><a href="checkout.html">Verifier sa commande</a></li> #}
                                        {# </ul> #}
                                        {# </li> #}
                                        <li class="{% if active=="about" %}active{% endif %} sportsmagazine-megamenu-li">
                                            <a href="#">A PROPOS</a>
                                            <ul class="sportsmagazine-megamenu">
                                                <li class="row">
                                                    <div class="col-md-2">
                                                        <h4>Nous</h4>
                                                        <ul class="sportsmagazine-megalist">
                                                            {# <li><a href="#">A propos</a></li> #}
                                                            <li><a href="contact-us.html">Contact</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <h4>Motivation</h4>
                                                        <div class="sportsmagazine-mega-text">
                                                            <p>Your work is going to fill a large part of your life,
                                                                and the only way to be truly satisfied is to do what
                                                                you believe is great work. And the only way to do
                                                                great work is to love.</p>
                                                            <p>If you haven't found it yet, keep looking. Don't
                                                                settle. As with all matters of the heart, you'll
                                                                know when you find it.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <h4></h4>
                                                        <a href="#" class="sportsmagazine-thumbnail">
                                                            <img src="{{ asset("extra-images/mega-menuadd.jpg") }}"
                                                                 alt=""/>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <a data-toggle="modal" data-target="#searchModal" href="#"
                               class="sportsmagazine-search-btn sportsmagazine-colorhover"><i
                                        class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// MainSection \\-->

    </header>
    <!--// Header \\-->

    {% block content %}

    {% endblock %}

    <!--// Footer \\-->
    <footer id="sportsmagazine-footer" class="sportsmagazine-footer-one">

        <!--// Footer Widget \\-->
        <div class="sportsmagazine-footer-widget">
            <div class="container">
                <div class="row">
                    <!--// Widget Contact Info \\-->
                    <aside class="col-md-4 widget widget_contact_info">
                        <a href="{{ path('index') }}" class="footer-logo"><img src="{{ asset("images/logo-4.png") }}"
                                                                               alt=""></a>
                        <p>l’Association des étudiants(es) basketteurs de l’Ecoles Supérieur d’Industrie de l’INPHB
                            faisant parti de ESI-SPORTING
                            CLUB, un club sportif réunissant toutes les disciplines sportives de l’ESI</p>
                        <ul class="sportsmagazine-social-network">
                            <li><a href="#" class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
                            <li><a href="#" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
                            <li><a href="#" class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
                            <li><a href="#" class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
                        </ul>
                        <ul class="sportsmagazine-info-list">
                            <li><i class="fa fa-map-marker"></i> <span>Cote d'Ivoire,Yamoussoukro, INP-HB / ESI</span>
                            </li>
                            <li><i class="fa fa-phone"></i> <span>(+225) 47 35 11 10 </span></li>
                            <li><i class="fa fa-envelope"></i> <span><a
                                            href="mailto:name@email.com">esisportingclub@outlook.com</a></span></li>
                        </ul>
                    </aside>
                    <!--// Widget Contact Info \\-->
                    <!--// Widget Twitter \\-->
                    <aside class="col-md-4 widget widget_twitter">
                        <div class="footer-widget-title">
                            <h2>Twitter Feeds</h2>
                        </div>
                        <ul>
                            <li>
                                <i class="fa fa-twitter"></i> <span>@esi-sport</span>
                                <p>Sed gravida, urna quis tempus sollicitudin, tellus urnasuscipit nisl, id rhoncus
                                    ligula elit condimentum <a href="404.html">https://t.co/XHrPAM4ANv</a></p>
                                <time datetime="2008-02-14 20:00"><i class="fa fa-clock-o"></i> 2 Hours Ago</time>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i> <span>@football</span>
                                <p>Sed gravida, urna quis tempus sollicitudin, tellus urnasuscipit nisl, id rhoncus
                                    ligula elit condimentum <a href="404.html">https://t.co/XHrPAM4ANv</a></p>
                                <time datetime="2008-02-14 20:00"><i class="fa fa-clock-o"></i> 4 Hours Ago</time>
                            </li>
                        </ul>
                    </aside>
                    <!--// Widget Twitter \\-->
                    <!--// Widget Gallery \\-->
                    <aside class="col-md-4 widget widget_gallery">
                        <div class="footer-widget-title">
                            <h2>Flicker Photos</h2>
                        </div>
                        <ul>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-1.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-2.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-3.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-4.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-5.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-6.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-7.jpg") }}" alt=""></a>
                            </li>
                            <li><a data-fancybox-group="group" href="extra-images/widget-gallery-1.jpg" ) }}"
                                class="fancybox"><img src="{{ asset("extra-images/widget-gallery-8.jpg") }}" alt=""></a>
                            </li>
                        </ul>
                    </aside>
                    <!--// Widget Gallery \\-->

                </div>
            </div>
            <a href="#" class="sportsmagazine-back-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!--// Footer Widget \\-->

        <!--// CopyRight \\-->
        <div class="sportsmagazine-copyright">
            <div class="container">
                <div class="row">
                    <aside class="col-md-6 sportsmagazine-copyright-left">
                        <p><a target="_blank" href="#">CSDEV Developpement</a></p>
                    </aside>
                    <aside class="col-md-6 sportsmagazine-copyright-right">
                        <ul class="sportsmagazine-copyright-link">
                            <li><a href="#" class="sportsmagazine-colorhover">Terms And Condition</a></li>
                            <li><a href="#" class="sportsmagazine-colorhover">Privacy Policy</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <!--// CopyRight \\-->

    </footer>
    <!--// Footer \\-->

    <div class="clearfix"></div>
</div>
<!--// Main Wrapper \\-->

<!-- SearchModal -->
<div class="searchmodal modal fade" id="searchModal" tabindex="-1" role="dialog">
    <a href="#" data-dismiss="modal" class="sportsmagazine-modal-close"><i class="icon-uniF106"></i></a>
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="row">
                <form class="sportsmagazine-search-box" action="{{ path("blog.search") }}">
                    <input type="text" value="Search Your Keyword"
                           name="q"
                           onblur="if(this.value == '') { this.value ='Search Your Keyword'; }"
                           onfocus="if(this.value =='Search Your Keyword') { this.value = ''; }">
                    <input type="submit" value="">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- LoginModal -->
<div class="loginmodal modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="sportsmagazine-login-box">
            <a href="#" data-dismiss="modal" class="sportsmagazine-login-close sportsmagazine-color"><i
                        class="icon-uniF106"></i></a>
            <h4>Login To Your Account</h4>
            <form>
                <input type="text" value="Enter username*"
                       onblur="if(this.value == '') { this.value ='Enter username*'; }"
                       onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                <input type="password" value="Password*" onblur="if(this.value == '') { this.value ='Password*'; }"
                       onfocus="if(this.value =='Password*') { this.value = ''; }">
                <a href="#" class="sportsmagazine-colorhover">Forget Password?</a>
                <div class="clearfix"></div>
                <label><input type="submit" value="Sign In"
                              class="sportsmagazine-bordercolor sportsmagazine-color"></label>
            </form>
            <h4>Try Our Socials Also</h4>
            <ul class="login-network">
                <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li class="sportsmagazine-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                <li class="sportsmagazine-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i>
                        Google+</a></li>
            </ul>
            <p>Not A Member Yet ? <a href="#" class="sportsmagazine-color">Sign - Up Now !</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- SignupModal -->
<div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="sportsmagazine-login-box">
            <a href="#" data-dismiss="modal" class="sportsmagazine-login-close sportsmagazine-color"><i
                        class="icon-uniF106"></i></a>
            <h4>Sign Up Now</h4>
            <form>
                <input type="text" value="Enter username*"
                       onblur="if(this.value == '') { this.value ='Enter username*'; }"
                       onfocus="if(this.value =='Enter username*') { this.value = ''; }">
                <input type="text" value="Type your password*"
                       onblur="if(this.value == '') { this.value ='Type your password*'; }"
                       onfocus="if(this.value =='Type your password*') { this.value = ''; }">
                <input type="text" value="Confirm your password*"
                       onblur="if(this.value == '') { this.value ='Confirm your password*'; }"
                       onfocus="if(this.value =='Confirm your password*') { this.value = ''; }">
                <a href="#" class="sportsmagazine-colorhover">Forget Password?</a>
                <div class="clearfix"></div>
                <label><input type="submit" value="Sign Up"
                              class="sportsmagazine-bordercolor sportsmagazine-color"></label>
            </form>
            <h4>Try Our Socials Also</h4>
            <ul class="login-network">
                <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li class="sportsmagazine-twitter"><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                <li class="sportsmagazine-google-plus"><a href="#"><i class="fa fa-google-plus-square"></i>
                        Google+</a></li>
            </ul>
            <p>Not A Member Yet ? <a href="#" class="sportsmagazine-color">Login - Now !</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="{{ asset('turbolinks.min.js') }}"></script>
<script type="text/javascript" src="{{ asset("script/jquery.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/slick.slider.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/jquery.countdown.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/fancybox.pack.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/isotope.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/progressbar.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/counter.js") }}"></script>
<script type="text/javascript" src="{{ asset("script/functions.js") }}"></script>
</body>

</html>