{% extends "base.html.twig" %}

{# We set the active link of the menu #}
{% set active = "index" %}

{% block content %}

    <!--// Main Banner \\-->
    <div class="sportsmagazine-banner">

        <!--// Slider \\-->
        <div class="sportsmagazine-banner-one">
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-3.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Game</strong> <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-4.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Soccer</strong> <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-5.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Determination</strong>
                                        <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-6.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Determination</strong>
                                        <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-7.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Determination</strong>
                                        <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-8.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Determination</strong>
                                        <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sportsmagazine-banner-one-layer">
                <img src="{{ asset("extra-images/banner-2.jpg") }}" alt="">
                <span class="sportsmagazine-banner-pattren"></span>
                <div class="sportsmagazine-banner-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sportsmagazine-banner-wrap">
                                    <h1><span>We Are</span> Developing The <strong
                                                class="sportsmagazine-color">Strong</strong> <span>Be Our Partner</span>
                                    </h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante
                                        Curabitur lacinia diam tempus tempor consectetur. Sed vitae dignissim
                                        purueget aliquam libero.</p>
                                </div>
                                <div class="sportsmagazine-banner-thumb"><img
                                            src="{{ asset("extra-images/banner-thumb-1.png") }}"
                                            alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Slider \\-->

    </div>
    <!--// Main Banner \\-->

    <!--// TopStrip 2 \\-->
    <div class="sportsmagazine-topstrip-two sportsmagazine-bgcolor">
        <div class="container">
            <div class="row">
                <aside class="col-md-12">
                    <span><small>Info News</small> <i class="fa fa-caret-right"></i></span>
                    <div class="sportsmagazine-ticker-slide">
                        {% for info in flashInfos %}
                            <div class="sportsmagazine-ticker-slide-text" id="{{ info.id }}">
                                {{ info.content }}
                            </div>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--// TopStrip \\-->

    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">

        <!--// Main Section \\-->
        <div class="sportsmagazine-main-section">
            <div class="container">
                <div class="row">

                    <!--// Fixture Slider \\-->
                    <div class="col-md-12">
                        <div class="sportsmagazine-fixture-slider">

                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESI</small> VS <span>EP</span></li>
                                    <li>Football</li>
                                </ul>
                            </div>
                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESGM</small> VS <span>ESI</span></li>
                                    <li>Volleyball</li>
                                </ul>
                            </div>
                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESI</small> VS <span>ESTP</span></li>
                                    <li>Basketball</li>
                                </ul>
                            </div>
                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESI</small> VS <span>ESA</span></li>
                                    <li>Handball</li>
                                </ul>
                            </div>
                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESCAE</small> VS <span>ESI</span></li>
                                    <li>Tennis</li>
                                </ul>
                            </div>
                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESI</small><span>(individuel)</span></li>
                                    <li>Natation</li>
                                </ul>
                            </div>
                            <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
                                <time datetime="2008-02-14 20:00">Date</time>
                                <ul class="sportsmagazine-bgcolor">
                                    <li class="first-child"><small>ESI</small><span>(individuel)</span></li>
                                    <li>Athletisme</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--// Fixture Slider \\-->

                    <!--// Content \\-->
                    <div class="col-md-8">

                        <!--// Fancy Title \\-->
                        <div class="sportsmagazine-fancy-title">
                            <h2> Nouveau en Vedette</h2>
                        </div>
                        <!--// Fancy Title \\-->
                        <!--// Featured Slider \\-->
                        <div class="sportsmagazine-featured-slider">
                            <div class="sportsmagazine-featured-slider-layer">
                                <img src="{{ asset("extra-images/featured-slider-1.jpg") }}" alt="">
                                <span class="sportsmagazine-black-transparent"></span>
                                <div class="sportsmagazine-featured-caption">
                                    <h2>Fusce at molestie elit, sit amet Curabitur in tellus non risu illa vitae non
                                        nunc</h2>
                                    <span class="sportsmagazine-color">03 December 2017 / John Maxwell</span>
                                </div>
                            </div>
                            <div class="sportsmagazine-featured-slider-layer">
                                <img src="{{ asset("extra-images/featured-slider-2.jpg") }}" alt="">
                                <span class="sportsmagazine-black-transparent"></span>
                                <div class="sportsmagazine-featured-caption">
                                    <h2>Fusce at molestie elit, sit amet Curabitur in tellus non risu illa vitae non
                                        nunc</h2>
                                    <span class="sportsmagazine-color">03 December 2017 / John Maxwell</span>
                                </div>
                            </div>
                        </div>
                        <!--// Featured Slider \\-->

                        <!--// Latest Match Result \\-->
                        <div class="sportsmagazine-featured-slider">
                            <div class="sportsmagazine-match-result">
                                <div class="sportsmagazine-match-title">
                                    <h4>Resultat du dernier Match</h4>
                                    <span>Football, Date</span>
                                </div>
                                <ul>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-logoF.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">TheLions</a></h4>
                                        <span>ESI Football</span>
                                    </li>
                                    <li class="sportsmagazine-match-score">
                                        <h5>FINAL SCORE</h5>
                                        <p><strong class="sportsmagazine-color">0</strong> <small>:</small>0</p>
                                    </li>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-escae.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">Panthère</a></h4>
                                        <span>ESCAE Footbal</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="sportsmagazine-match-result">
                                <div class="sportsmagazine-match-title">
                                    <h4>Resultat du dernier Match</h4>
                                    <span>Basketball, Date</span>
                                </div>
                                <ul>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-esa.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">Hipopotam</a></h4>
                                        <span>ESA Basketball</span>
                                    </li>
                                    <li class="sportsmagazine-match-score">
                                        <h5>FINAL SCORE</h5>
                                        <p><strong class="sportsmagazine-color">0</strong> <small>:</small>0</p>
                                    </li>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-logoB.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">TheLions</a></h4>
                                        <span>ESI Basketball</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="sportsmagazine-match-result">
                                <div class="sportsmagazine-match-title">
                                    <h4>Resultat du dernier Match</h4>
                                    <span>Voleyball, Date</span>
                                </div>
                                <ul>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-ep.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">Requin</a></h4>
                                        <span>EP volleyball</span>
                                    </li>
                                    <li class="sportsmagazine-match-score">
                                        <h5>FINAL SCORE</h5>
                                        <p><strong class="sportsmagazine-color">0</strong> <small>:</small>0</p>
                                    </li>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-logoV.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">TheLions</a></h4>
                                        <span>ESI Volleyball</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="sportsmagazine-match-result">
                                <div class="sportsmagazine-match-title">
                                    <h4>Resultat du dernier Match</h4>
                                    <span>Handball, Date</span>
                                </div>
                                <ul>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-logoH.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">Thelions</a></h4>
                                        <span>ESI Handball</span>
                                    </li>
                                    <li class="sportsmagazine-match-score">
                                        <h5>FINAL SCORE</h5>
                                        <p><strong class="sportsmagazine-color">0</strong> <small>:</small>0</p>
                                    </li>
                                    <li>
                                        <img src="{{ asset("extra-images/latest-result-estp.png") }}" alt="">
                                        <h4><a href="fixture-detail.html">The Horse</a></h4>
                                        <span>ESI Handball</span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <!--// Latest Match Result \\-->

                        <!--// Fancy Title \\-->
                        <div class="sportsmagazine-fancy-title">
                            <h2>Dernier Articles</h2>
                        </div>
                        <!--// Fancy Title \\-->
                        <!--// Blog's \\-->
                        <div class="sportsmagazine-blog sportsmagazine-blog-grid">
                            <ul class="row">
                                <li class="col-md-6">
                                    <figure>
                                        <a href="blog-detail.html"><img
                                                    src="{{ asset("extra-images/latest-blog-1.jpg") }}"
                                                    alt=""></a>
                                        <figcaption>
                                            <span><small>En vedette</small></span>
                                            <a href="blog-detail.html" class="sportsmagazine-link-btn"><i
                                                        class="fa fa-link"></i></a>
                                        </figcaption>
                                    </figure>
                                    <section>
                                        <h2><a href="blog-detail.html">TheLions Of ESI deballe sa nouvelle
                                                collection</a></h2>
                                        <p>Lorem ipsum dolor sit amet, consecttur adipis elit. Vestibulum a nunc
                                            dui. Curabitr dignissi luctus nisi id euismod. feugiat eros.
                                            Pellentesque tempus tortor.</p>
                                    </section>
                                    <div class="sportsmagazine-blog-grid-options">
                                        <a href="blog-detail.html" class="sportsmagazine-blog-grid-thumb"><img
                                                    src="{{ asset("extra-images/blog-thumb-1.jpg") }}" alt=""> Julia
                                            Martyn</a>
                                        <ul>
                                            <li><i class="fa fa-thumbs-o-up"></i> <a href="404.html">320</a></li>
                                            <li><i class="fa fa-eye"></i> <a href="404.html">840</a></li>
                                            <li><i class="fa fa-share-alt"></i> <a href="404.html">89</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="col-md-6 sportsmagazine-the-league">
                                    <figure>
                                        <a href="blog-detail.html"><img
                                                    src="{{ asset("extra-images/latest-blog-1.jpg") }}"
                                                    alt=""></a>
                                        <figcaption>
                                            <span><small>Inter-Ecole</small></span>
                                            <a href="blog-detail.html" class="sportsmagazine-link-btn"><i
                                                        class="fa fa-link"></i></a>
                                        </figcaption>
                                    </figure>
                                    <section>
                                        <h2><a href="blog-detail.html">Les Lions perdent la moitié de leurs equipes pour
                                                la competion</a></h2>
                                        <p>Lorem ipsum dolor sit amet, consecttur adipis elit. Vestibulum a nunc
                                            dui. Curabitr dignissi luctus nisi id euismod. feugiat eros.
                                            Pellentesque tempus tortor.</p>
                                    </section>
                                    <div class="sportsmagazine-blog-grid-options">
                                        <a href="blog-detail.html" class="sportsmagazine-blog-grid-thumb"><img
                                                    src="{{ asset("extra-images/blog-thumb-1.jpg") }}" alt=""> Julia
                                            Martyn</a>
                                        <ul>
                                            <li><i class="fa fa-thumbs-o-up"></i> <a href="404.html">320</a></li>
                                            <li><i class="fa fa-eye"></i> <a href="404.html">840</a></li>
                                            <li><i class="fa fa-share-alt"></i> <a href="404.html">89</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="sportsmagazine-blog sportsmagazine-blog-grid">
                                    <ul class="row">
                                        <li class="col-md-12 sportsmagazine-the-team">
                                            <figure>
                                                <a href="blog-detail.html"><img
                                                            src="{{ asset("extra-images/latest-blog-1.jpg") }}"
                                                            alt=""></a>
                                                <figcaption>
                                                    <span><small>The Team</small></span>
                                                    <a href="blog-detail.html" class="sportsmagazine-link-btn"><i
                                                                class="fa fa-link"></i></a>
                                                </figcaption>
                                            </figure>
                                            <section>
                                                <h2><a href="blog-detail.html">Remaniement du bureau ESI-SPORT</a></h2>
                                                <p>Lorem ipsum dolor sit amet, consecttur adipis elit. Vestibulum a
                                                    nunc dui. Curabitr dignissi luctus nisi id euismod. feugiat
                                                    eros. Pellentesque tempus tortor.</p>
                                            </section>
                                            <div class="sportsmagazine-blog-grid-options">
                                                <a href="blog-detail.html"
                                                   class="sportsmagazine-blog-grid-thumb"><img
                                                            src="{{ asset("extra-images/blog-thumb-1.jpg") }}" alt="">
                                                    Julia Martyn</a>
                                                <ul>
                                                    <li><i class="fa fa-thumbs-o-up"></i> <a href="404.html">320</a>
                                                    </li>
                                                    <li><i class="fa fa-eye"></i> <a href="404.html">840</a></li>
                                                    <li><i class="fa fa-share-alt"></i> <a href="404.html">89</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="sportsmagazine-blog sportsmagazine-blog-list">
                                    <ul class="row">
                                        <li class="col-md-12">
                                            <div class="sportsmagazine-blog-list-wrap">
                                                <span>The Team</span>
                                                <h6><a href="blog-detail.html">ESI-SPORT prevoir bientot un recrutement
                                                        pous toutes ses disciplines</a></h6>
                                                <time datetime="2008-02-14 20:00">August 23rd, 2017</time>
                                                <p>Lorem ipsum dolor sit amet, consecttur adipis elit. Vestibulum a
                                                    nunc dui.</p>
                                            </div>
                                        </li>
                                        <li class="col-md-12 playoffs">
                                            <div class="sportsmagazine-blog-list-wrap">
                                                <span>Playoffs</span>
                                                <h6><a href="blog-detail.html">The new eco friendly stadium won aLeafy
                                                        Award in 2016</a></h6>
                                                <time datetime="2008-02-14 20:00">August 23rd, 2017</time>
                                                <p>Lorem ipsum dolor sit amet, consecttur adipis elit. Vestibulum a
                                                    nunc dui.</p>
                                            </div>
                                        </li>
                                        <li class="col-md-12 playoffs">
                                            <div class="sportsmagazine-blog-list-wrap">
                                                <span>All Star Game</span>
                                                <h6><a href="blog-detail.html">The new eco friendly stadium won a
                                                        Leafy Award in 2016</a></h6>
                                                <time datetime="2008-02-14 20:00">August 23rd, 2017</time>
                                                <p>Lorem ipsum dolor sit amet, consecttur adipis elit. Vestibulum a
                                                    nunc dui.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// Blog's \\-->

                        <!--// Advertisement \\-->
                        <figure class="sportsmagazine-add-banner">
                            <img src="{{ asset("extra-images/add-thumb-1.jpg") }}" alt="">
                            <span class="sportsmagazine-add-transparent"></span>
                            <figcaption>
                                <div class="sportsmagazine-addbanner-caption">
                                    <h2>Take a look at the brand New Uniforms for next season</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utac malesuada ante.
                                        Curabitur lacinia.</p>
                                    <a href="404.html" class="sportsmagazine-banner-btn"> Parole du
                                        jour<span></span></a>
                                </div>
                            </figcaption>
                        </figure>
                        <!--// Advertisement \\-->

                        <!--// Fancy Title \\-->
                        <div class="sportsmagazine-fancy-title">
                            <h2>Meilleurs Joueurs de la saison 2019 - 2020</h2>
                        </div>
                        <!--// Fancy Title \\-->
                        <div class="sportsmagazine-player-slider">

                            <div class="sportsmagazine-player-slider-image">
                                <div class="sportsmagazine-player-image-layer">
                                    <img src="{{ asset("extra-images/player-slider-image-1.png") }}" alt="">
                                    <div class="sportsmagazine-player-slider-caption">
                                        <span>97</span>
                                        <section>
                                            <h6><a href="fixture-detail.html">Micheal Darren</a></h6>
                                            <small>Forword</small>
                                        </section>
                                    </div>
                                </div>
                                <div class="sportsmagazine-player-image-layer">
                                    <img src="{{ asset("extra-images/player-slider-image-2.png") }}" alt="">
                                    <div class="sportsmagazine-player-slider-caption">
                                        <span>38</span>
                                        <section>
                                            <h6><a href="fixture-detail.html">sarena Jordan</a></h6>
                                            <small>Defensive</small>
                                        </section>
                                    </div>
                                </div>
                                <div class="sportsmagazine-player-image-layer">
                                    <img src="{{ asset("extra-images/player-slider-image-3.png") }}" alt="">
                                    <div class="sportsmagazine-player-slider-caption">
                                        <span>97</span>
                                        <section>
                                            <h6><a href="fixture-detail.html">Micheal Darren</a></h6>
                                            <small>Forword</small>
                                        </section>
                                    </div>
                                </div>
                                <div class="sportsmagazine-player-image-layer">
                                    <img src="{{ asset("extra-images/player-slider-image-2.png") }}" alt="">
                                    <div class="sportsmagazine-player-slider-caption">
                                        <span>10</span>
                                        <section>
                                            <h6><a href="fixture-detail.html">Chris Marlon</a></h6>
                                            <small>Forword</small>
                                        </section>
                                    </div>
                                </div>
                                <div class="sportsmagazine-player-image-layer">
                                    <img src="{{ asset("extra-images/player-slider-image-1.png") }}" alt="">
                                    <div class="sportsmagazine-player-slider-caption">
                                        <span>97</span>
                                        <section>
                                            <h6><a href="fixture-detail.html">Micheal Darren</a></h6>
                                            <small>Forword</small>
                                        </section>
                                    </div>
                                </div>
                            </div>

                            <div class="sportsmagazine-player-slider-nav">
                                <div class="sportsmagazine-player-nav-layer">
                                    <span>09</span>
                                    <section>
                                        <h6>Kieron strauss</h6>
                                        <small>Forword</small>
                                    </section>
                                </div>
                                <div class="sportsmagazine-player-nav-layer">
                                    <span>38</span>
                                    <section>
                                        <h6>sarena Jordan</h6>
                                        <small>Defensive</small>
                                    </section>
                                </div>
                                <div class="sportsmagazine-player-nav-layer">
                                    <span>97</span>
                                    <section>
                                        <h6>Micheal Darren</h6>
                                        <small>Forword</small>
                                    </section>
                                </div>
                                <div class="sportsmagazine-player-nav-layer">
                                    <span>10</span>
                                    <section>
                                        <h6>Chris Marlon</h6>
                                        <small>Forword</small>
                                    </section>
                                </div>
                                <div class="sportsmagazine-player-nav-layer">
                                    <span>09</span>
                                    <section>
                                        <h6>Kieron strauss</h6>
                                        <small>Forword</small>
                                    </section>
                                </div>
                            </div>

                        </div>

                        <!--// Fancy Title \\-->
                        <div class="sportsmagazine-fancy-title">
                            <h2>Club Media</h2>
                        </div>
                        <!--// Fancy Title \\-->
                        <div class="sportsmagazine-gallery sportsmagazine-fixture-gallery">
                            <ul>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/1.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img1.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>12 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">May 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/2.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img2.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>11 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">Feb 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/3.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img3.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>7 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">May 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/4.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img4.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>4 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">Feb 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/5.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img5.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>13 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">May 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/6.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img6.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>6 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">Feb 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <a data-fancybox-group="group" href="extra-images/aaa/7.jpg" ) }}"
                                        class="fancybox"><img src="{{ asset("extra-images/gallery-modren-img6.jpg") }}"
                                                              alt=""><i class="icon-signs23"></i></a>
                                        <span>6 Photos</span>
                                        <figcaption>
                                            <h6><a href="#">The Champion Final will be played</a></h6>
                                            <time datetime="2008-02-14 20:00">Feb 17th, 2017</time>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--// Content \\-->

                    <!--// SideBaar \\-->
                    <aside class="col-md-4">

                        <!--// Widget TeamRanking \\-->
                        <div class="widget widget_team_ranking">
                            <div class="sportsmagazine-fancy-title">
                                <h2>Classements par Team</h2>
                            </div>

                            <div class="sportsmagazine-featured-slider">
                                <!--Man-->
                                <div>
                                    <div class="ranking-title-table">
                                        <ul class="ranking-title-row">
                                            <li>Homme</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-title-table">
                                        <ul class="ranking-title-row">
                                            <li>Sport Collectif</li>
                                            <li>M</li>
                                            <li>V</li>
                                            <li>PTS</li>
                                        </ul>
                                    </div>

                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-basketH.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Basketball</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-footH.png") }}" alt="">
                                                <div class="ranking-logo"><span>Football</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-handH.png") }}" alt="">
                                                <div class="ranking-logo"><span>Handball</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-volleyH.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Volleyball</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-title-table">
                                        <ul class="ranking-title-row">
                                            <li>Sport Individuel</li>
                                            <li>M</li>
                                            <li>V</li>
                                            <li>PTS</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-tennis.png") }}" alt="">
                                                <div class="ranking-logo"><span>Tennis</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-athletism.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Athletisme</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-natation.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Natation</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Wooman-->
                                <div>
                                    <!--Titre-->
                                    <div class="ranking-title-table">
                                        <ul class="ranking-title-row">
                                            <li>Dame</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-title-table">
                                        <ul class="ranking-title-row">
                                            <li>Sport Collectif</li>
                                            <li>M</li>
                                            <li>V</li>
                                            <li>PTS</li>
                                        </ul>
                                    </div>
                                    <!--TitreEnd-->
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-basketD.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Basketball</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-footD.png") }}" alt="">
                                                <div class="ranking-logo"><span>Football</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-handD.png") }}" alt="">
                                                <div class="ranking-logo"><span>Handball</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-volley.png") }}" alt="">
                                                <div class="ranking-logo"><span>Volleyball</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <!--Titre-->
                                    <div class="ranking-title-table">
                                        <ul class="ranking-title-row">
                                            <li>Sport Individuel</li>
                                            <li>M</li>
                                            <li>V</li>
                                            <li>PTS</li>
                                        </ul>
                                    </div>
                                    <!--TitreEnd-->
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-tennis.png") }}" alt="">
                                                <div class="ranking-logo"><span>Tennis</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-athletism.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Athletisme</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                    <div class="ranking-content-table">
                                        <ul class="ranking-content-row">
                                            <li>0</li>
                                            <li><img src="{{ asset("extra-images/ranking-widget-natation.png") }}"
                                                     alt="">
                                                <div class="ranking-logo"><span>Natation</span> <small>TheLions of
                                                        ESI</small></div>
                                            </li>
                                            <li>00</li>
                                            <li>00</li>
                                            <li>00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--// Widget TeamRanking \\-->

                        <!--// Widget Popular News \\-->
                        <div class="widget widget_popular_news">
                            <div class="sportsmagazine-fancy-title">
                                <h2>Info Fan</h2>
                            </div>
                            <ul>
                                <li>
                                    <span>01</span>
                                    <div class="popular_news_text">
                                        <small>The Team</small>
                                        <a href="blog-detail.html">Basketball Stadium will a max capacity for 5000
                                            fans</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li class="widget-injuries">
                                    <span>02</span>
                                    <div class="popular_news_text">
                                        <small>Injuries</small>
                                        <a href="blog-detail.html">The Clovers defense must reinvent itself
                                            without</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li class="widget-theleague">
                                    <span>03</span>
                                    <div class="popular_news_text">
                                        <small>The League</small>
                                        <a href="blog-detail.html">Take look to the brand new helmets for next
                                            season</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li>
                                    <span>04</span>
                                    <div class="popular_news_text">
                                        <small>The Team</small>
                                        <a href="blog-detail.html">The Basketball women division started
                                            training</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li>
                                    <span>05</span>
                                    <div class="popular_news_text">
                                        <small>The Team</small>
                                        <a href="blog-detail.html">Basketball Stadium will a max capacity for 5000
                                            fans</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--// Widget Popular News \\-->

                        <!--// Widget Trending News \\-->
                        <div class="widget widget_trending_news">
                            <div class="sportsmagazine-fancy-title">
                                <h2>Top Trending News</h2>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                                          role="tab" data-toggle="tab">Newset</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                           data-toggle="tab">Most Commented</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                                           data-toggle="tab">Populer</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="widget_popular_news">
                                        <ul>
                                            <li>
                                                <div class="popular_news_text">
                                                    <small>The Team</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                            <li class="widget-injuries">
                                                <div class="popular_news_text">
                                                    <small>Injuries</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                            <li class="widget-theleague">
                                                <div class="popular_news_text">
                                                    <small>The League</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="widget_popular_news">
                                        <ul>
                                            <li class="widget-injuries">
                                                <div class="popular_news_text">
                                                    <small>Injuries</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular_news_text">
                                                    <small>The Team</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <div class="widget_popular_news">
                                        <ul>
                                            <li class="widget-theleague">
                                                <div class="popular_news_text">
                                                    <small>The League</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular_news_text">
                                                    <small>The Team</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                            <li class="widget-injuries">
                                                <div class="popular_news_text">
                                                    <small>Injuries</small>
                                                    <a href="blog-detail.html">Basketball Stadium will a max
                                                        capacity for 5000 fans</a>
                                                    <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                        ac malesuada ante. Curabitur lacinia diam tempus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Widget Trending News \\-->

                        <!--// Widget Next Match \\-->
                        <div class="sportsmagazine-fancy-title">
                            <h2>Prochain Match</h2>
                        </div>
                        <div class="sportsmagazine-banner-one">
                            <div class="widget widget_next_match">
                                <div class="widget_next_match_title">
                                    <h5>Final Inter-Ecole Dame</h5>
                                    <span>Vendredi, 06 Mars 2020</span>
                                </div>
                                <ul>
                                    <li>
                                        <img src="{{ asset("extra-images/widget-next-match-logo-1.png") }}" alt="">
                                        <h6><a href="fixture-detail.html">TheLions</a></h6>
                                        <small>Esi Basketball</small>
                                    </li>
                                    <li>
                                        <div class="widget_next_match_option">
                                            <h6>09:00 pm</h6>
                                            <small>Gymnase Sud</small>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="{{ asset("extra-images/widget-next-match-logo-2.png") }}" alt="">
                                        <h6><a href="fixture-detail.html">Phoenix</a></h6>
                                        <small>ESGM Basketball</small>
                                    </li>
                                </ul>
                                <div class="widget_match_countdown">
                                    <h6>Compte a rebourd</h6>
                                    <div id="sportsmagazine-countdown"></div>
                                </div>
                                <a href="#" class="widget_match_btn">Reserve ta place</a>
                            </div>
                            <div class="widget widget_next_match">
                                <div class="widget_next_match_title">
                                    <h5>Final Inter-Ecole Dame</h5>
                                    <span>Vendredi, 06 Mars 2020</span>
                                </div>
                                <ul>
                                    <li>
                                        <img src="{{ asset("extra-images/widget-next-match-logo-1.png") }}" alt="">
                                        <h6><a href="fixture-detail.html">TheLions</a></h6>
                                        <small>Esi Basketball</small>
                                    </li>
                                    <li>
                                        <div class="widget_next_match_option">
                                            <h6>09:00 pm</h6>
                                            <small>Gymnase Sud</small>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="{{ asset("extra-images/widget-next-match-logo-2.png") }}" alt="">
                                        <h6><a href="fixture-detail.html">Phoenix</a></h6>
                                        <small>ESGM Basketball</small>
                                    </li>
                                </ul>
                                <div class="widget_match_countdown">
                                    <h6>Compte a rebourd</h6>
                                    <div id="sportsmagazine-countdown"></div>
                                </div>
                                <a href="#" class="widget_match_btn">Reserve ta place</a>
                            </div>

                        </div>
                        <!--// Widget Next Match \\-->

                        <!--// Widget Newsletter \\-->
                        <div class="widget widget_newsletter">
                            <div class="sportsmagazine-fancy-title">
                                <h2>Nos Newsletter</h2>
                            </div>
                            <form>
                                <label>Abonne toi maintenant</label>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac malesuada ante.
                                </p>
                                <input type="text" value="Your Name"
                                       onblur="if(this.value == '') { this.value ='Your Name'; }"
                                       onfocus="if(this.value =='Your Name') { this.value = ''; }">
                                <input type="text" value="Enter Your email"
                                       onblur="if(this.value == '') { this.value ='Enter Your email'; }"
                                       onfocus="if(this.value =='Enter Your email') { this.value = ''; }">
                                <label class="widget_newsletter_btn"><input type="submit" value="je m'abonne"></label>
                            </form>
                        </div>
                        <!--// Widget Newsletter \\-->

                        <!--// Widget Add \\-->
                        <div class="widget widget_add">
                            <img src="{{ asset("extra-images/add.jpg") }}" alt="">
                        </div>
                        <!--// Widget Add \\-->

                    </aside>
                    <!--// SideBaar \\-->

                </div>
            </div>
        </div>
        <!--// Main Section \\-->
        <!--// Main Section Partner  \\-->
        <div class="sportsmagazine-main-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <!--// Partner \\-->
                        <div class="sportsmagazine-fancy-title-two">
                            <h2>Ceux qui nous accompagne <span></span></h2>
                        </div>
                        <div class="sportsmagazine-partner-slider">
                            <div><a href="404.html"><img src="{{ asset("extra-images/partner-logo-1.jpg") }}"
                                                         alt=""></a></div>
                            <div><a href="404.html"><img src="{{ asset("extra-images/partner-logo-2.jpg") }}"
                                                         alt=""></a></div>
                            <div><a href="404.html"><img src="{{ asset("extra-images/partner-logo-3.jpg") }}"
                                                         alt=""></a></div>
                            <div><a href="404.html"><img src="{{ asset("extra-images/partner-logo-1.jpg") }}"
                                                         alt=""></a></div>
                            <div><a href="404.html"><img src="{{ asset("extra-images/partner-logo-3.jpg") }}"
                                                         alt=""></a></div>
                        </div>
                        <!--// Partner \\-->
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section Partner  \\-->

    </div>
    <!--// Main Content \\-->
{% endblock %}